// @import url('https://fonts.googleapis.com/css2?family=Blinker:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker&family=Fira+Sans:ital,wght@0,300;0,400;1,400&display=swap');
$button:rgba(194, 232, 217, 0.36);
$buttonColor:rgb(37, 35, 35);
$buttonHover:#f4f9f4;

$logoSidebar: #67a191; 
$menu: #ffffff; 
$textColorHover: #89bfaa; 
$textColor: #686868; 
$bgContent: #f4f9f4; 
$fontText: 'Fira Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Blinker&display=swap');
$fontTextCorp: 'Blinker', sans-serif;
