@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --light-green: #4CBB5E;
  --color-input: #0e1e18;
  --color-text:  #9C9C9C;
  --color-connexion-text: #ACB5BD;
  --gradient-green: linear-gradient(48.58deg, #26AD71 6.33%, #32CB4B 96.68%);
  --title-font-family: "Nunito", sans-serif;
  --title-font-size: 28px;
  --title-font-weight: 700;
  --title-line-height: 33.41px;
  --title-text-align: left;
  --icons-input-color: rgba(156, 156, 156, 1);
  ;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:  var(--title-font-family), Arial;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
