@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,700&display=swap');


.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-color: #000; */
  /* color: #fff; */
}

.header {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 20px;
  padding-left: 0px;
}

.backButton {
  font-size: 24px;
  background: none;
  border: none;
  /* color: #fff; */
  cursor: pointer;
}
.arrowLeft {
  width: 15.75px;
  height: 20.13px;
  color: rgba(173, 181, 189, 1);

}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}
.divTitle{
  width: 100%;
}
.title {
  /* color: #78c258; */
  color: var(--light-green);
  /* font-size: 28px; */
  /* font-weight: bold; */
  margin-bottom: 30px;
  font-family: var(--title-font-family);
  font-size: var(--title-font-size);
  font-weight: var(--title-font-weight);
  line-height: var(--title-line-height);
  text-align: var(--title-text-align);
  padding-left: 20px;
}

.loginForm {
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.inputGroup {
  margin-bottom: 20px;
}

.label {
  color: var(--color-connexion-text);
  font-size: 14px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  background-color: var(--color-input);
  border-radius: 10px;
  padding: 10px;
  margin-top: 5px;
  gap: 20px;
}
.inputWrapper svg{
  width: 16px;
height: 13px;
top: 4px;
left: 2px;
gap: 0px;
border: 0.5px 0px 0px 0px;
opacity: 0px;
color: var( --icons-input-color);
}

.input {
  background: none;
  border: none;
  color: #fff ;
  width: 100%;
}

.toggleVisibility {
  cursor: pointer;
  color: #fff;
}

.forgotPassword {
  color: #aaa;
  font-size: 12px;
  text-align: right;
  margin-top: 5px;
  text-decoration: none;
}

.signInButton {
  background:var(--gradient-green);
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}
.signInButton:hover{
  transform: scale(1, 1.2);
border-top: 1px solid #FBBC05;
border-bottom: 1px solid #FBBC05;
border-left: 1px solid #FBBC05;
}

.orSeparator {
  color: #ccc;
  margin: 20px 0;
  text-align: center;
}

.socialLogin {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.socialButton {
  background-color: rgba(241, 244, 243, 1);
  
  border: none;
  border-radius: 25%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  font-size: 24px;
}

.footer {
  color: #fff;
  text-align: center;
}

.signUpLink {
  color: #78c258;
  text-decoration: none;
  font-weight: bold;
  margin-left: 5px;
}
.cercleArrow{
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  margin-left: 15px;
  border: 1px solid #ADB5BD;
  border-radius: 100px;
}





